<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yarden Haramati</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body" style="background-color:#f6f6f6">
	<div>
	<ul class="nav justify-content-start">
  <li class="nav-item">
    <a class="nav-link" href="../">Home</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
  <li class="nav-item">
    <span class="nav-link">Hello, {{user.username}}!</span>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  {% endif %}
  {% if messages %}
	{% for message in messages %}
	<li class="nav-link">
		<span>{{message}}</span>
	</li>	
	{% endfor %}
{% endif %}
  

</ul>
	
	   {% block content %}
	   {% endblock %}
	</div>
</body>

</html>